##### Map

In [1]:
def sq_multiply(n):
    return (n**2)*4

In [2]:
sq_multiply(3)

36

In [3]:
my_lst = [11,21,31,41,51]

map(sq_multiply,my_lst)

In [4]:
list(map(sq_multiply,my_lst))

[484, 1764, 3844, 6724, 10404]

* names = ['Aarti','Abhyuday','Balakrishnan','Mohit','Preeti','Shreyas' ]

* ['odd','a','b','odd','p','odd']

In [5]:
def sample_func(mystr):
    if len(mystr) % 2 == 1:
        return 'odd'
    else:
        return mystr[0].lower()

In [7]:
sample_func('Shre')

's'

In [8]:
names = ['Aarti','Abhyuday','Balakrishnan','Mohit','Preeti','Shreyas' ]
list(map(sample_func,names))

['odd', 'a', 'b', 'odd', 'p', 'odd']

### Filter

* yield those items of iterable for which function(item) is True(boolean value)

In [9]:
def check_even(n):
    return n%2 == 0

In [11]:
check_even(7)

False

In [12]:
check_even(12)

True

In [13]:
list(filter(check_even,[0,1,2,3,4,5,6,7,8]))

[0, 2, 4, 6, 8]

In [43]:
lst5 = [0,1,2,3,4,5,6,7,8]
#take all odd numbers from lst5 and add 1 to each of them

In [48]:
list(map(lambda x : x+1,list(filter(lambda n : n%2 ==1,lst5))))

[2, 4, 6, 8]

#### Lambda Expressions

In [14]:
def square(n):
    res = n**2
    return res

In [15]:
square(12)

144

In [16]:
def square(n):
    return n**2

In [17]:
square(2)

4

In [18]:
def square2(n): return n**2

In [19]:
square2(5)

25

In [21]:
square11 = lambda n: n**2

In [22]:
square11(8)

64

In [23]:
list(map(lambda n : (n**2)*4,my_lst ))

[484, 1764, 3844, 6724, 10404]

In [24]:
list(map(lambda n : (n**2)*4, [12,13,14,15,16] ))

[576, 676, 784, 900, 1024]

In [25]:
celsius = [0,12,20.1,34.6]
list(map(lambda C : (9/5)*C+32, celsius ))

[32.0, 53.6, 68.18, 94.28]

In [26]:
list(filter(lambda n:n%2 == 0, [12,13,14,15,16]))

[12, 14, 16]

In [32]:
s = ['Shreyas','RBPL','IITr', 'MMLP', 'Azure', 'rahul']
list(map(lambda a : a[::-1], s))

['sayerhS', 'LPBR', 'rTII', 'PLMM', 'eruzA', 'luhar']

In [33]:
list(filter(lambda a:a[0].lower() == 'r' , s))

['RBPL', 'rahul']

In [34]:
multiply = lambda a,b : a*b

In [35]:
multiply(2,12)

24

In [36]:
sc = [[1,35,80], [2,32,75],[3,30,82],[5,37,60]]

avg = 35

list(map(lambda x: x[2]+2 if x[1] >= avg else x[2]-2, sc))

[82, 73, 80, 62]