In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['USA','Canada','India']

mydata = [1776,1867,1947]

In [13]:
myser = pd.Series(mydata)

In [14]:
type(myser)

pandas.core.series.Series

In [6]:
pd.Series(data = mydata, index=myindex)

USA       1776
Canada    1867
India     1947
dtype: int64

In [8]:
ran_data = np.random.randint(0,80,4)

In [9]:
names = ['Andy','Bob','Chelsea','David']

In [10]:
pd.Series(data=ran_data,index=names)

Andy       55
Bob        44
Chelsea    75
David      60
dtype: int64

In [11]:
ages = {'Sam':12,'Frank':10,'Spike':23}
ages

{'Sam': 12, 'Frank': 10, 'Spike': 23}

In [12]:
pd.Series(ages)

Sam      12
Frank    10
Spike    23
dtype: int64

### Key concepts

In [15]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210, 'USA':260}

In [17]:
salesQ1 = pd.Series(q1)
salesQ2 = pd.Series(q2)

In [18]:
salesQ1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [19]:
salesQ2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
#Call values based on Named Index
salesQ1['India']

200

In [22]:
salesQ1[2]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_1818/2608590886.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  salesQ1[2]

200

### Operations

In [26]:
salesQ1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [27]:
salesQ1*4

Japan     320
China    1800
India     800
USA      1000
dtype: int64

In [28]:
#between series
salesQ1 + salesQ2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
salesQ1.add(salesQ2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64