In [2]:
#range: generate a list of integers

range(0,11)  #generator function; have to cast it to list/tuple etc.

range(0, 11)

In [3]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

## enumerate

In [13]:
idx_count = 0
for l in 'abcde':
    print(f"At index {idx_count} the letter is {l}")
    idx_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [10]:
for idx_count1, l1 in enumerate('abcde'):
    print(f"At index {idx_count1} the letter is {l1}")

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [11]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']

list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [14]:
#create any two lists of same length
#zip
#for loop and do some exceution

lst3 = [11,12,23,24,45]
lst4 = ['ads','bgsfa','cggsd','ddds','erwre']

for i, v in zip(lst3,lst4):
    print(i+len(v))

14
17
28
28
50

In [15]:
#in operator
'ads' in ['ads','bgsfa','cggsd','ddds','erwre']

True

In [16]:
'hi' in [11,12,23,24,45]

False

In [17]:
#not in operator
'ads' not in ['ads','bgsfa','cggsd','ddds','erwre']

False

In [18]:
'hi' not in [11,12,23,24,45]

True

In [19]:
lst3

[11, 12, 23, 24, 45]

In [20]:
min(lst3)

11

In [21]:
max(lst3)

45

In [22]:
sum(lst3)

115

In [23]:
#input

input('Enter something into this box: ')

Enter something into this box: klashlksa

'klashlksa'

#### Write a program that prints the integers from 1 to 100. But for multiples of 3,  prints 'MMLP' instead of the number and for multiples of 7 print your name. For numbers which are multiple of both 3 and 7 , print 'Shreyas'

In [1]:
for n in range(1,101):
    if n%3 == 0 and n%7 == 0:
        print('Shreyas')
    elif n%3 == 0:
        print('MMLP')
    elif n%7 == 0:
        print('Shreyas Shukla')
    else:
        print(n)

1
2
MMLP
4
5
MMLP
Shreyas Shukla
8
MMLP
10
11
MMLP
13
Shreyas Shukla
MMLP
16
17
MMLP
19
20
Shreyas
22
23
MMLP
25
26
MMLP
Shreyas Shukla
29
MMLP
31
32
MMLP
34
Shreyas Shukla
MMLP
37
38
MMLP
40
41
Shreyas
43
44
MMLP
46
47
MMLP
Shreyas Shukla
50
MMLP
52
53
MMLP
55
Shreyas Shukla
MMLP
58
59
MMLP
61
62
Shreyas
64
65
MMLP
67
68
MMLP
Shreyas Shukla
71
MMLP
73
74
MMLP
76
Shreyas Shukla
MMLP
79
80
MMLP
82
83
Shreyas
85
86
MMLP
88
89
MMLP
Shreyas Shukla
92
MMLP
94
95
MMLP
97
Shreyas Shukla
MMLP
100

In [2]:
for n in range(1,101):
    if n%7 == 0:
        print('Shreyas Shukla')
    elif n%3 == 0:
        print('MMLP')
    elif n%3 == 0 and n%7 == 0:
        print('Shreyas')
    else:
        print(n)

1
2
MMLP
4
5
MMLP
Shreyas Shukla
8
MMLP
10
11
MMLP
13
Shreyas Shukla
MMLP
16
17
MMLP
19
20
Shreyas Shukla
22
23
MMLP
25
26
MMLP
Shreyas Shukla
29
MMLP
31
32
MMLP
34
Shreyas Shukla
MMLP
37
38
MMLP
40
41
Shreyas Shukla
43
44
MMLP
46
47
MMLP
Shreyas Shukla
50
MMLP
52
53
MMLP
55
Shreyas Shukla
MMLP
58
59
MMLP
61
62
Shreyas Shukla
64
65
MMLP
67
68
MMLP
Shreyas Shukla
71
MMLP
73
74
MMLP
76
Shreyas Shukla
MMLP
79
80
MMLP
82
83
Shreyas Shukla
85
86
MMLP
88
89
MMLP
Shreyas Shukla
92
MMLP
94
95
MMLP
97
Shreyas Shukla
MMLP
100